<h1>TEST 2</h1>
<form action="">
    <label for="email">
        Ingresar Email
        <input [(ngModel)]="formulario.email" [ngModelOptions]="{standalone:true}" id="email" type="email">
    </label>

    <br>
    
    <label for="password">
        Ingresar Password
        <input [(ngModel)]="formulario.password" [ngModelOptions]="{standalone:true}" id="password" type="password">
    </label>
</form>

<h2>this is a form test</h2>

<p>{{formulario.email}}</p>
<p>{{formulario.password}}</p> 



<router-outlet></router-outlet>
